body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f6f6f6;
  height: 10000px;
}
.all{
    width: 100%;
    height:100px;
    display:flex ;
    justify-content: space-between;
    align-items: center;
    
}
.left{
    cursor: pointer;
    margin-left: 20px;
}
.right{
    cursor: pointer;
    margin-right: 20px;
}
.header {
  background: #ff7a18;
  color: white;
  padding: 20px;
  border-radius: 22px;
    display: flex;
  flex-direction: row;
  gap: 30%;
}
.icon{
    display: flex;
    width: 15%;
}
.progress {
  background: white;
  color: #ff7a18;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-width: 10px;
  border-color: #FFE2D0;
  

}
.header h2{
    
    display: flex;
    align-items: center;
    font-size: x-large;
}

.tasks {
gap: 20%;
  padding: 15px;
  
}

.task {
  background: #ffe2d0;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  
  
}
.red{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.details{
    display: flex;
    justify-content: space-between;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

.bottom-nav button {
  background: none;
  border: none;
  font-size: 20px;
}